<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JEP4QKW5CR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-JEP4QKW5CR');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>ECarbon-EcoWeb</title>
</head>
<body>
    <h1>메인 페이지</h1>
    <p>새로운 UI가 적용되었습니다.</p>
</body>
</html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="screen" data-model-id="1:240">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="heading">보이지 않는 탄소,<br />지금 확인해보세요</div>
          <p class="URL">URL을 입력하여 웹사이트의 탄소 배출량을 분석하고<br />친환경 개선 가이드를 받아보세요</p>
          <div class="rectangle-2"></div>
          <div class="text-wrapper">친환경 호스팅</div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="text-wrapper-2">코드 최적화</div>
          <div class="text-wrapper-3">지속가능한 디자인</div>
          <div class="rectangle-6"></div>
          <div class="text-wrapper-4">최근 검색한 URL</div>
          <img class="clip-path-group" src="https://c.animaapp.com/kwylwCaZ/img/email@example.com" />
          <div class="frame">
            <div class="div-2">
              <div class="dacabcde">
                <div class="div-2"><img class="vector" src="https://c.animaapp.com/kwylwCaZ/img/vector-5.svg" /></div>
              </div>
            </div>
            <div class="text-wrapper-5">웹사이트 주소를 입력해주세요</div>
          </div>
          <div class="frame-2">
            <div class="view"><div class="text-wrapper-6">최근 검색한 URL</div></div>
            <div class="view"><div class="text-wrapper-6">최근 검색한 URL</div></div>
            <div class="view"><div class="text-wrapper-6">최근 검색한 URL</div></div>
            <div class="view"><div class="text-wrapper-6">최근 검색한 URL</div></div>
            <div class="view"><div class="text-wrapper-6">최근 검색한 URL</div></div>
          </div>
          <p class="p">
            재생 에너지를 사용하는 <br />친환경 호스팅으로 전환해 보세요<br />작은 변화가 더 깨끗한 웹 환경을 만드는
            <br />시작이 될 수 있습니다
          </p>
          <div class="ellipse"></div>
          <p class="text-wrapper-7">
            웹사이트의 코드를 가볍게 최적화하여 <br />서버 부담과 에너지 사용을 줄일 수 있습니다<br />빠르고 효율적인
            웹을 함께 만들어 보세요
          </p>
          <p class="text-wrapper-8">
            에너지 효율을 생각한 지속가능한 <br />디자인으로 탄소발자국을 줄여보세요<br />디자인과 친환경은 함께할 수
            있습니다
          </p>
          <div class="ellipse-2"></div>
          <div class="ellipse-3"></div>
          <div class="material-symbols"><img class="img" src="https://c.animaapp.com/kwylwCaZ/img/vector-7.svg" /></div>
          <div class="tdesign-code">
            <img class="vector-2" src="https://c.animaapp.com/kwylwCaZ/img/vector-8.svg" />
          </div>
          <div class="bx-recycle"><img class="vector-3" src="https://c.animaapp.com/kwylwCaZ/img/vector-9.svg" /></div>
        </div>
        <div class="heading-2">친환경 인증 받은 사이트</div>
        <p class="heading-3">탄소 감축 기여도가 높은 사이트</p>
        <div class="link"><div class="text-wrapper-9">사이트 전체보기</div></div>
        <div class="background">
          <div class="heading-4">지속가능한 웹을 위한</div>
          <p class="heading-5">맞춤형 분석과 개선 가이드를 무제한으로</p>
          <p class="text-wrapper-10">
            멤버십 회원에게만 제공되는 <br />고급 분석 리포트, 비교 기능, 개선 시뮬레이션을 활용해보세요.
          </p>
          <div class="div-wrapper"><div class="text-wrapper-11">멤버십 보러가기</div></div>
        </div>
        <div class="link-2"><div class="text-wrapper-9">순위 전체보기</div></div>
        <div class="overlay-border">
          <div class="link-3">
            <div class="heading-6">인스타그램 계정 바로가기</div>
            <div class="text-wrapper-12">인스타그램 주소</div>
            <div class="image">
              <div class="element">
                <div class="element-ebbabacccb">
                  <img class="vector-4" src="https://c.animaapp.com/kwylwCaZ/img/vector.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="link-4">
            <div class="heading-6">유튜브 채널 바로가기</div>
            <div class="text-wrapper-12">유튜브 주소</div>
            <div class="image">
              <div class="element">
                <div class="element-ebbabacccb">
                  <img class="vector-4" src="https://c.animaapp.com/kwylwCaZ/img/vector-1.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="link-5">
            <div class="heading-6">문의하기</div>
            <div class="text-wrapper-12">문의 메일/번호</div>
            <div class="image">
              <div class="element">
                <div class="element-ebbabacccb">
                  <img class="vector-4" src="https://c.animaapp.com/kwylwCaZ/img/vector-2.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="heading-7">디지털 탄소배출량 측정 서비스</div>
          <div class="heading-8">ECarbon</div>
          <div class="group">
            <div class="heading-courses">서비스</div>
            <div class="link-6"><div class="text-wrapper-13">ECarbon 소개</div></div>
            <div class="overlap-group">
              <div class="link-7"><div class="text-wrapper-13">멤버십 소개</div></div>
              <div class="link-8"><div class="text-wrapper-13">문의하기</div></div>
            </div>
          </div>
          <div class="group-2">
            <div class="heading-courses">서비스</div>
            <div class="link-6"><div class="text-wrapper-13">ECarbon 소개</div></div>
            <div class="overlap-group">
              <div class="link-7"><div class="text-wrapper-13">멤버십 소개</div></div>
              <div class="link-8"><div class="text-wrapper-13">문의하기</div></div>
            </div>
          </div>
          <div class="group-3">
            <div class="heading-courses">서비스</div>
            <div class="link-6"><div class="text-wrapper-13">ECarbon 소개</div></div>
            <div class="overlap-group">
              <div class="link-7"><div class="text-wrapper-13">멤버십 소개</div></div>
              <div class="link-8"><div class="text-wrapper-13">문의하기</div></div>
            </div>
          </div>
          <div class="group-4">
            <div class="heading-courses">서비스</div>
            <div class="link-6"><div class="text-wrapper-13">ECarbon 소개</div></div>
            <div class="overlap-group">
              <div class="link-7"><div class="text-wrapper-13">멤버십 소개</div></div>
              <div class="link-8"><div class="text-wrapper-13">문의하기</div></div>
            </div>
          </div>
        </div>
        <div class="button-previous">
          <div class="ico-svg-fill-wrapper">
            <div class="ico-svg-fill">
              <div class="ico-svg"><img class="vector-5" src="https://c.animaapp.com/kwylwCaZ/img/vector-3.svg" /></div>
            </div>
          </div>
        </div>
        <div class="button-next">
          <div class="ico-arrow-svg-fill-wrapper">
            <div class="ico-svg-fill">
              <div class="ico-svg"><img class="vector-6" src="https://c.animaapp.com/kwylwCaZ/img/vector-4.svg" /></div>
            </div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="ellipse-4"></div>
          <div class="text-wrapper-14">웹사이트 이름</div>
          <div class="text-wrapper-15">탄소 절감율 (%)</div>
          <div class="text-wrapper-16">25kg CO₂ 절감</div>
        </div>
        <div class="overlap-3">
          <div class="ellipse-5"></div>
          <div class="text-wrapper-17">웹사이트 이름</div>
          <div class="text-wrapper-18">탄소 절감율 (%)</div>
          <div class="text-wrapper-19">25kg CO₂ 절감</div>
        </div>
        <div class="overlap-4">
          <div class="ellipse-6"></div>
          <div class="text-wrapper-20">웹사이트 이름</div>
          <div class="text-wrapper-21">탄소 절감율 (%)</div>
        </div>
        <div class="overlap-5">
          <div class="ellipse-6"></div>
          <div class="text-wrapper-20">웹사이트 이름</div>
          <div class="text-wrapper-21">탄소 절감율 (%)</div>
        </div>
        <div class="overlap-6">
          <div class="ellipse-6"></div>
          <div class="text-wrapper-20">웹사이트 이름</div>
          <div class="text-wrapper-21">탄소 절감율 (%)</div>
        </div>
        <div class="horizontal-border">
          <p class="text-wrapper-22">© Designbase All rights reserved.</p>
          <div class="navigation-list">
            <div class="item-link"><div class="text-wrapper-23">개인정보 처리방침</div></div>
            <div class="item-link-2"><div class="text-wrapper-24">이용약관</div></div>
            <div class="item-link-3"><div class="text-wrapper-24">공지사항</div></div>
          </div>
        </div>
        <div class="view-2"></div>
        <div class="view-3"></div>
        <div class="view-4">
          <div class="ri-arrow-right-line-wrapper">
            <div class="ri-arrow-right-line">
              <img class="vector-7" src="https://c.animaapp.com/kwylwCaZ/img/vector-6.svg" />
            </div>
          </div>
          <div class="overlap-7">
            <div class="text-wrapper-25">웹사이트 이름</div>
            <div class="text-wrapper-26">0.2g CO2/page view</div>
          </div>
        </div>
        <div class="view-5"></div>
        <div class="view-6"></div>
        <div class="view-7"></div>
        <div class="frame-3">
          <div class="text-wrapper-27">Ecarbon</div>
          <div class="frame-4">
            <div class="view-8"><div class="text-wrapper-28">서비스 소개</div></div>
            <div class="view-8"><div class="text-wrapper-28">탄소 배출량 분석</div></div>
            <div class="view-8"><div class="text-wrapper-28">탄소 배출 랭킹</div></div>
          </div>
          <div class="login"><div class="text-wrapper-29">기업 서비스</div></div>
          <img class="mode" src="https://c.animaapp.com/kwylwCaZ/img/mode.svg" />
          <div class="fluent-person-wrapper">
            <div class="fluent-person">
              <img class="vector-8" src="https://c.animaapp.com/kwylwCaZ/img/vector-10.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
