/* title ================================ */
.title {
    position: absolute;
    top: 100px;
    left: 180px;
}

/* content01 =============================== */
.content01 {
    position: absolute;
    top: 133px;
    left: 180px;
    width: 190px;
    height: 126px;
}
.content01-action {
    position: relative;
    display: block;
    margin-bottom: 4px;

    font-size: 8px;
    font-weight: 600;
    line-height: 15px;
}
.content01-total-font {
    position: absolute;
    top: 19.2px;
    left: 0;
    height: 48px;
    width: 100%;
}
.content01-co2 {
    position: absolute;
    top: 82.4px;
    left: 0;
    height: 48px;
    width: 100%;
}
.content01-text-title {
    position: relative;
    display: block;
    margin-bottom: 6px;

    font-size: 8px;
    line-height: 10px;    
}
.content01-text-value {
    position: relative;
    display: block;
    margin-bottom: 6px;

    font-size: 24px;
    line-height: 32px;
    color: #ef4444;
}


/* content02 =============================== */
.content02 {
    position: absolute;
    top: 133px;
    left: 399px;
    width: 402px;
}
.content02-title {
    position: relative;
    margin-bottom: 4px;

    font-size: 8px;
    line-height: 15px;
    font-weight: 600;
    color: #46474c;
}
.content02-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 11px;
}
.content02-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    height: 32px;
}
.content02-item-text {
    position: relative;
    font-size: 8px;
    line-height: 10px;
    color: #5a5c63;
    text-align: left;
}
.content02-item-value {
    position: relative;
    flex-shrink: 0;
    width: 61px;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
}

/* table ===================================== */
.table-container {
    position: absolute;
    top: 310px;
    left: 180px;
    width: 620px;
    font-size: 7.2px;
    color: #46474c;
}

.table-header {
    position: relative;
    display: flex;
    background-color: #dbdcdf;
    border-radius: 6.4px;
    padding: 8px 12.8px;
    margin-bottom: 0;
}

.table-row {
    position: relative;
    display: flex;
    padding: 8px 12.8px;
    border-bottom: 1px dashed #dbdcdf;
}

.table-row:last-child {
    border-bottom: none;
}

.table-cell {
    position: relative;
    display: inline-block;
    line-height: 14.4px;
    vertical-align: top;
}

.table-cell:nth-child(1) {
    width: 113.6px;
}

.table-cell:nth-child(2) {
    width: 104px;
}

.table-cell:nth-child(3) {
    width: 104px;
}

.table-cell:nth-child(4) {
    width: 83.2px;
}

.table-cell:nth-child(5) {
    width: 116.8px;
}

.table-cell:nth-child(6) {
    width: 84.8px;
}

.table-header .table-cell {
    font-weight: 600;
}

/* 색상 */
.table-pass {
    color: #00b872;
}

.table-partial {
    color: #ff7638;
}

.table-fail {
    color: #ef4444;
}

/* 구분선 ================================ */
.horizontal-dashed-line01 {
    position: absolute;
    left: 180px;
    top: 206px;
    width: 154px;
    height: 1px;
    transform: scaleY(0.3);
    transform-origin: top;
    background: repeating-linear-gradient(
        to right,
        #5a5c63 0,
        #5a5c63 3px,
        transparent 3px,
        transparent 6px
    );
    object-fit: contain;
}
.vertical-line01 {
    position: absolute;
    left: 370px;
    top: 130px;
    width: 1px;
    transform: scaleX(0.3);
    transform-origin: left;
    height: 135px;
    background-color: #5a5c63;
}