/* content01 ================================ */
.content01 {
    position: absolute;
    top: 144.81px;
    left: 180px;
    width: 618px;
    height: 106px;
    display: flex;
    gap: 20px;
}
.content01-item {
    width: 139px;
    display: inline-block;
}
.content01-item-title {
    position: relative;
    margin-bottom: 16px;
    display: block;

    font-size: 9px;
    line-height: 15px;
    font-weight: 600;
    text-align: left;
    color: #46474c;
}
.content01-item-value {
    position: relative;
    margin-bottom: 20px;
    display: block;

    font-size: 33px;
    line-height: 33px;
    text-align: left;
    color: #5a5c63;
}
.content01-item-percentage {
    position: relative;
    margin-bottom: 12px;
    display: block;

    font-size: 9px;
    line-height: 10px;
    color: #5a5c63;
    text-align: left;
}

/* content02 ================================ */
.content02 {
    position: absolute;
    top: 302px;
    left: 180px;
    width: 260px;
}
.content02-distribution {
    position: relative;
    width: 220px;
    height: 220px;
}

.content02-distribution canvas {
    width: 100% !important;
    height: 100% !important;
}

/* content03 ================================= */
.content03 {
    position: absolute;
    top: 302px;
    left: 480px;
    width: 319px;
}
.content03-item {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 319px;
    height: 25px;
}
.item-title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 9px;
    font-weight: 600;
    color: #46474c;
}
.bar {
    position: absolute;
    top: 0px;
    left: 70px;
    border-radius: 3.25px;
    background-color: #dbdcdf;
    width: 249px;
    height: 25px;
}
.bar-value {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 9px;
    font-weight: 600;
    color: #46474c;
    z-index: 1;
}
.bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3.25px;
    background-color: #00b872;
    height: 25px;
}

/* 구분선 ================================ */
.vertical-line01 {
    position: absolute;
    left: 647px;
    top: 144px;
    width: 1px;
    transform: scaleX(0.3);
    transform-origin: left;
    height: 108px;
    background: repeating-linear-gradient(
        to bottom,
        #5a5c63 0,
        #5a5c63 3px,
        transparent 3px,
        transparent 6px
    );
}
.horizontal-line01 {
    position: absolute;
    left: 180px;
    top: 252px;
    width: 139px;
    height: 1px;
    transform: scaleY(0.3);
    transform-origin: top;
    background-color: #5a5c63;
}
.horizontal-line02 {
    position: absolute;
    left: 339px;
    top: 252px;
    width: 139px;
    height: 1px;
    transform: scaleY(0.3);
    transform-origin: top;
    background-color: #5a5c63;
}
.horizontal-line03 {
    position: absolute;
    left: 498px;
    top: 252px;
    width: 139px;
    height: 1px;
    transform: scaleY(0.3);
    transform-origin: top;
    background-color: #5a5c63;
}
.horizontal-line04 {
    position: absolute;
    left: 657px;
    top: 252px;
    width: 141px;
    height: 1px;
    transform: scaleY(0.3);
    transform-origin: top;
    background-color: #5a5c63;
}