/* 01. 시간대별 탄소 배출 패턴 분석 ================================ */
.content01 {
    position: absolute;
    top: 100px;
    left: 180px;
    width: 280px;
}
.content01-img01 {
    position: relative;
    margin-top: 18px;
    width: 280px;
    height: 90px;
}

.content01-img01 canvas {
    width: 100% !important;
    height: 100% !important;
}
/* 02. 벤치 마킹 및 포지셔닝 분석 =========================================== */
.content02 {
    position: absolute;
    top: 316px;
    left: 180px;
    width: 280px;
}

.content02-img01 {
    position: relative;
    margin-top: 8px;
    width: 280px;
    height: 120px;
}

.content02-img01 canvas {
    width: 100% !important;
    height: 100% !important;
}
/* 03. 글로벌 표준 대비 위치 =========================================== */
.content03 { 
    position: absolute;
    top: 100px;
    left: 522px;
    width: 280px;
}
/* 글로벌 표준 지표 3개 컬럼 레이아웃 */
.global-metrics {
    position: relative;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 12px;
}
.metric-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    text-align: center;
}
.metric-icon {
    width: 58px;
    height: 58px;
    margin-bottom: 8px;
}
.metric-label {
    font-size: 9px;
    line-height: 18px;
    font-weight: 600;
    color: #70737c;
    margin-bottom: 6px;
}
.metric-value {
    border-radius: 2px;
    background-color: #daf2e9;
    border: 0.5px solid #00cc7e;
    box-sizing: border-box;
    padding: 1px 12px;
    font-size: 8px;
    line-height: 10px;
    font-weight: 600;
    color: #5a5c63;
    display: inline-block;
}
/* 텍스트 */
.content03-text {
    position: relative;
    margin-top: 12px;
    font-size: 8px;
    line-height: 14px;
    color: #5a5c63;
    display: inline-block;
    width: 280px;
}

/* 04. 경쟁사 대비 강약점 =========================================== */
.content04 {
    position: absolute; 
    top: 351px;
    left: 522px;
    width: 280px;
}
.content04-text01 {
    position: relative;
    font-size: 9px;
    line-height: 16px;
    color: #5a5c63;
    display: inline-block;
    width: 159px;
    vertical-align: top;
}
.content04-img01 {
    position: relative;
    display: inline-block;
    width: 118px;
    height: 118px;
    vertical-align: top;
}

.content04-img01 canvas {
    width: 100% !important;
    height: 100% !important;
}