/* 01. 웹 지속가능성 가이드라인(WSG) 1.0 =========================== */
.content01 {
    position: absolute;
    top: 100px;
    left: 180px;
    width: 280px;
}
.content-link {
    color: inherit;
    text-decoration: underline;
}

/* 02. 배출량 속도계 / 등급 =========================================== */
.content02 {
    position: absolute;
    top: 120.5px;
    left: 507px;
    width: 136px;
    height: 90px;
}
/* 속도계 */
.content02-speedmeter {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 6.5px;
    width: 136px;
    height: 76px;
    text-align: center;
    font-size: 9.6px;
    color: #5a5c63;
}
.content02-speedmeter-img01 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 136px;
    height: 76px;
}
.content02-speedmeter-value {
    position: absolute;
    top: 74px;
    left: 55px;
    line-height: 11.52px;
    display: inline-block;
    width: 27.5px;
    height: 12.8px;
}
.content02-speedmeter-co2-per-page {
    position: absolute;
    top: 84px;
    left: 34px;
    font-size: 5.76px;
    line-height: 11.52px;
    display: inline-block;
    width: 73px;
    height: 12.8px;
}
.content02-speedmeter-needle {
    position: absolute;
    top: 47px;
    left: 16px;
    width: 58px;
    height: 42px;
    transform: rotate(90deg); /* 조절 가능: 10~170도 범위 */
    transform-origin: 90% 50%;
}
/* 우측 컨테이너 */
.content02-right {
    position: absolute;
    top: 0px;
    left: 164px;
}

/* 등급 */
.content02-grade {
    position: relative;
    display: block;

    width: 126px;
    height: 44px;
    font-size: 6px;
    color: #ef4444;
}
.parent {
    position: absolute;
    top: 5.2px;
    left: 63px;
    width: 63px;
    height: 34.9px;
}
.div15 {
    position: absolute;
    top: 0px;
    left: 21px;
    line-height: 8.64px;
    color: #70737c;
    white-space: nowrap;
}
.div16 {
    position: absolute;
    top: 14.88px;
    left: 25px;
    font-size: 20px;
    line-height: 19.2px;
}
.div17 {
    position: absolute;
    top: 24px;
    left: 0px;
    font-size: 10px;
    line-height: 8.64px;
    font-weight: 500;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #ef4444;
    width: 44px;
    height: 44px;
}
.f {
    position: absolute;
    top: 10.96px;
    left: 14.32px;
    font-size: 28.8px;
    line-height: 24px;
    color: #f4f4f5;
}
/* 조치사항 */
.content02-action {
    position: relative;
    display: block;
    margin-top: 10px;

    width: 136px;
    height: 42px;
    font-size: 8px;
    color: #ef4444;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4.8px;
    background-color: #fef2f2;
    border: 0.6px solid #fca5a5;
    box-sizing: border-box;
    width: 136px;
    height: 42px;
}
.group-div {
    position: absolute;
    top: 7.2px;
    left: 24px;
    width: 89px;
    height: 27.2px;
}
.material-symbolsemergency-hom-parent {
    position: absolute;
    top: 0px;
    left: 7.2px;
    width: 68.2px;
    height: 14.4px;
}
.material-symbolsemergency-hom-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14.4px;
    height: 14.4px;
}
.div18 {
    position: absolute;
    top: 4.2px;
    left: 19.2px;
    line-height: 7.2px;
    font-weight: 600;
    white-space: nowrap;
}
.div19 {
    position: absolute;
    top: 19.2px;
    left: 0px;
    font-size: 7px;
    line-height: 7.2px;
    color: #37383c;
    white-space: nowrap;
}

/* 03. 6개 지표 영역 (2열 3행) =========================================== */
.content03 {
    position: absolute;
    top: 256px;
    left: 517px;
    width: 300px;
    height: 330px;
}
.content03-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 141px;
    margin-bottom: 24px;
}
.content03-item:nth-child(odd) {
    margin-right: 8px;
}
.content03-subtitle {
    position: relative;
    display: block;

    font-size: 9px;
    line-height: 18px;
    font-weight: 600;
    color: #46474c;
}
.content03-value {
    position: relative;
    display: block;

    font-size: 26px;
    line-height: 40px;
    color: #5a5c63;
}
.content03-text01 {
    position: relative;
    display: block;
    margin-bottom: 2px;

    font-size: 8px;
    line-height: 12px;
    color: #5a5c63;
}
.content03-text02 {
    position: relative;
    display: block;

    font-size: 8px;
    line-height: 12px;
    color: #878a93;
}

/* 구분선 ================================ */
.horizontal-line01 {
    position: absolute;
    left: 507px;
    top: 236px;
    width: 300px;
    height: 1px;
    transform: scaleY(0.3);
    transform-origin: top;
    background-color: #5a5c63;
}
.horizontal-line02 {
    position: absolute;
    left: 517px;
    top: 354px;
    width: 141px;
    height: 1px;
    transform: scaleY(0.3);
    transform-origin: top;
    background-color: #5a5c63;
}
.horizontal-line03 {
    position: absolute;
    left: 666px;
    top: 354px;
    width: 141px;
    height: 1px;
    transform: scaleY(0.3);
    transform-origin: top;
    background-color: #5a5c63;
}
.horizontal-line04 {
    position: absolute;
    left: 517px;
    top: 464px;
    width: 141px;
    height: 1px;
    transform: scaleY(0.3);
    transform-origin: top;
    background-color: #5a5c63;
}
.horizontal-line05 {
    position: absolute;
    left: 666px;
    top: 464px;
    width: 141px;
    height: 1px;
    transform: scaleY(0.3);
    transform-origin: top;
    background-color: #5a5c63;
}




