:root {
    --gray-50: rgba(245, 245, 245, 1);
    --gray-500: rgba(107, 107, 107, 1);
    --gray-600: rgba(81, 81, 82, 1);
    --gray-400: rgba(141, 141, 141, 1);
    --gray-200: rgba(198, 198, 198, 1);
    --gray-700: rgba(57, 57, 57, 1);
    --gray-100: rgba(224, 224, 224, 1);
    --display-large-font-family: "Roboto", Helvetica;
    --display-large-font-weight: 600;
    --display-large-font-size: 56px;
    --display-large-letter-spacing: 0px;
    --display-large-line-height: 64px;
    --display-large-font-style: normal;
    --headline-large-font-family: "Roboto", Helvetica;
    --headline-large-font-weight: 600;
    --headline-large-font-size: 32px;
    --headline-large-letter-spacing: 0px;
    --headline-large-line-height: 40px;
    --headline-large-font-style: normal;
    --paragraph-medium-font-family: "Roboto", Helvetica;
    --paragraph-medium-font-weight: 400;
    --paragraph-medium-font-size: 16px;
    --paragraph-medium-letter-spacing: 0px;
    --paragraph-medium-line-height: 24px;
    --paragraph-medium-font-style: normal;
    --headline-small-font-family: "Roboto", Helvetica;
    --headline-small-font-weight: 600;
    --headline-small-font-size: 24px;
    --headline-small-letter-spacing: 0px;
    --headline-small-line-height: 32px;
    --headline-small-font-style: normal;
    --display-small-font-family: "Roboto", Helvetica;
    --display-small-font-weight: 600;
    --display-small-font-size: 40px;
    --display-small-letter-spacing: 0px;
    --display-small-line-height: 48px;
    --display-small-font-style: normal;
    --body-large-font-family: "Roboto", Helvetica;
    --body-large-font-weight: 400;
    --body-large-font-size: 18px;
    --body-large-letter-spacing: 0px;
    --body-large-line-height: 24px;
    --body-large-font-style: normal;
    --paragraph-large-font-family: "Roboto", Helvetica;
    --paragraph-large-font-weight: 400;
    --paragraph-large-font-size: 18px;
    --paragraph-large-letter-spacing: 0px;
    --paragraph-large-line-height: 24px;
    --paragraph-large-font-style: normal;
    --paragraph-small-font-family: "Roboto", Helvetica;
    --paragraph-small-font-weight: 400;
    --paragraph-small-font-size: 14px;
    --paragraph-small-letter-spacing: 0px;
    --paragraph-small-line-height: 20px;
    --paragraph-small-font-style: normal;
    --body-small-font-family: "Roboto", Helvetica;
    --body-small-font-weight: 400;
    --body-small-font-size: 14px;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: 20px;
    --body-small-font-style: normal;
    --other-caption-font-family: "Roboto", Helvetica;
    --other-caption-font-weight: 400;
    --other-caption-font-size: 12px;
    --other-caption-letter-spacing: 0px;
    --other-caption-line-height: 16px;
    --other-caption-font-style: normal;
    --title-large-font-family: "Roboto", Helvetica;
    --title-large-font-weight: 600;
    --title-large-font-size: 22px;
    --title-large-letter-spacing: 0px;
    --title-large-line-height: 28px;
    --title-large-font-style: normal;
    --title-medium-font-family: "Roboto", Helvetica;
    --title-medium-font-weight: 600;
    --title-medium-font-size: 20px;
    --title-medium-letter-spacing: 0px;
    --title-medium-line-height: 28px;
    --title-medium-font-style: normal;
    --headline-medium-font-family: "Roboto", Helvetica;
    --headline-medium-font-weight: 600;
    --headline-medium-font-size: 28px;
    --headline-medium-letter-spacing: 0px;
    --headline-medium-line-height: 36px;
    --headline-medium-font-style: normal;
    --body-medium-font-family: "Roboto", Helvetica;
    --body-medium-font-weight: 400;
    --body-medium-font-size: 16px;
    --body-medium-letter-spacing: 0px;
    --body-medium-line-height: 24px;
    --body-medium-font-style: normal;
    --4dp: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  }
  