:root {
    --orange-500: rgba(249, 115, 22, 1);
    --green-600: rgba(22, 163, 74, 1);
    --body-medium-font-family: "Roboto", Helvetica;
    --body-medium-font-weight: 400;
    --body-medium-font-size: 16px;
    --body-medium-letter-spacing: 0px;
    --body-medium-line-height: 24px;
    --body-medium-font-style: normal;
    --title-large-font-family: "Roboto", Helvetica;
    --title-large-font-weight: 600;
    --title-large-font-size: 22px;
    --title-large-letter-spacing: 0px;
    --title-large-line-height: 28px;
    --title-large-font-style: normal;
    --body-large-font-family: "Roboto", Helvetica;
    --body-large-font-weight: 400;
    --body-large-font-size: 18px;
    --body-large-letter-spacing: 0px;
    --body-large-line-height: 24px;
    --body-large-font-style: normal;
    --headline-large-font-family: "Roboto", Helvetica;
    --headline-large-font-weight: 600;
    --headline-large-font-size: 32px;
    --headline-large-letter-spacing: 0px;
    --headline-large-line-height: 40px;
    --headline-large-font-style: normal;
    --title-medium-font-family: "Roboto", Helvetica;
    --title-medium-font-weight: 600;
    --title-medium-font-size: 20px;
    --title-medium-letter-spacing: 0px;
    --title-medium-line-height: 28px;
    --title-medium-font-style: normal;
    --headline-small-font-family: "Roboto", Helvetica;
    --headline-small-font-weight: 600;
    --headline-small-font-size: 24px;
    --headline-small-letter-spacing: 0px;
    --headline-small-line-height: 32px;
    --headline-small-font-style: normal;
    --title-small-font-family: "Roboto", Helvetica;
    --title-small-font-weight: 600;
    --title-small-font-size: 18px;
    --title-small-letter-spacing: 0px;
    --title-small-line-height: 24px;
    --title-small-font-style: normal;
    --paragraph-large-font-family: "Roboto", Helvetica;
    --paragraph-large-font-weight: 400;
    --paragraph-large-font-size: 18px;
    --paragraph-large-letter-spacing: 0px;
    --paragraph-large-line-height: 24px;
    --paragraph-large-font-style: normal;
    --other-caption-font-family: "Roboto", Helvetica;
    --other-caption-font-weight: 400;
    --other-caption-font-size: 12px;
    --other-caption-letter-spacing: 0px;
    --other-caption-line-height: 16px;
    --other-caption-font-style: normal;
    --paragraph-small-font-family: "Roboto", Helvetica;
    --paragraph-small-font-weight: 400;
    --paragraph-small-font-size: 14px;
    --paragraph-small-letter-spacing: 0px;
    --paragraph-small-line-height: 20px;
    --paragraph-small-font-style: normal;
    --paragraph-medium-font-family: "Roboto", Helvetica;
    --paragraph-medium-font-weight: 400;
    --paragraph-medium-font-size: 16px;
    --paragraph-medium-letter-spacing: 0px;
    --paragraph-medium-line-height: 24px;
    --paragraph-medium-font-style: normal;
    --body-small-font-family: "Roboto", Helvetica;
    --body-small-font-weight: 400;
    --body-small-font-size: 14px;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: 20px;
    --body-small-font-style: normal;
    --atomic-cool-neutral-98: rgba(244, 244, 245, 1);
    --atomic-cool-neutral-50: rgba(112, 115, 124, 1);
    --atomic-cool-neutral-20: rgba(41, 42, 45, 1);
    --atomic-cool-neutral-40: rgba(90, 92, 99, 1);
    --atomic-cool-neutral-30: rgba(70, 71, 76, 1);
    --atomic-cool-neutral-100: var(--atomic-common-100);
    --atomic-cool-neutral-60: rgba(135, 138, 147, 1);
    --atomic-cool-neutral-25: rgba(55, 56, 60, 1);
    --atomic-cool-neutral-95: rgba(219, 220, 223, 1);
    --atomic-cool-neutral-90: rgba(194, 196, 200, 1);
    --atomic-common-100: rgba(255, 255, 255, 1);
  }
  